{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet" type='text/css'> -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <div class="page-header">
        <h1><a href="/">Django Girls Blog</a></h1>
      </div>

      <div class="content container">
        <div class="row">
          <div class="col-md-8">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>

      <!-- <div class="button"> -->
      <div>
        <!-- <a class="btn btn-primary" href="/admin" role="button">Link</a>
        <a class="btn btn-primary" href="/" role="button">Top</a> -->
        <a href="/admin" class="btn btn btn-info active" role="button" aria-pressed="true">Link_Admin</a>
        <a href="/" class="btn btn-primary active" role="button" aria-pressed="true">Top</a>
      </div>

      <div class="page-footer">

      </div>


    </body>

</html>
